{
    "server": {
        "addr": ":8989",
        "read_buffer_size": 4096,
        "write_buffer_size": 4096
    },
    "client": {
        "addr": "10.10.10.10:8989",
        "send_channels": 15,
        "batch_send_files": 100,
        "paths": [
            {
                "local": "C:\\path\\to\\local\\",
                "remote": [
                    "/path/to/remote1/",
                    "/path/to/remote2/"
                ]
            },{
                "local": "/path/to/local/",
                "remote": [
                    "/path/to/remote1/",
                    "/path/to/remote2/"
                ]
            }
        ],
        "exclude_files": [
            ".git"
        ]
    }
}